.sider {
	height: 100%;
	background: var(--siderBgColor);
	position: relative;
	overflow: hidden;
}
.sider .ps__rail-y {
	background-color: red !important;
}

/* 菜单 */
.menu {
}
.menu_item {
}
.menu_item_icon {
}
.menu_item_title {
}
.menu_item_arrow {
}
