:root {
	/* layout header */
	--headerBgColor: #018ffb;
	/* layout sider */
	--siderBgColor: #304156;
	--siderOpenWidth: 210px;
	--siderShutWidth: 80px;
	/* 默认 */
	--baseBgColor: #f0f2f5;
	/* 字体 */
	--baseFontColor: rgba(255, 255, 255，.7);
	--baseFontSize: 16px;
	/* 其他 */
	--black: #000000;
	--white: #ffffff;
	/* 边框 */
	--radius20: 20px;
	--radius15: 15px;
	--radius5: 5px;
	--radius2: 2px;
}

* {
	font-size: var(--baseFontSize);
	color: var(--baseFontColor);
}

/* 满屏 */
.fullScreen {
	width: 100vw;
	height: 100vh;
}
/* 占满dom */
.full {
	width: 100%;
	height: 100%;
}
