@import url(./variable.css);
@import url(../static/iconfont/iconfont.css);
*,
ul,
li {
	margin: 0 0;
	padding: 0 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	position: relative;
}
html,
body {
	overflow: hidden;
}
#root {
	min-height: 100vh;
	min-width: 1366px;
}
