:root {
	/* 主要色 */
	--primary: #1890ff;
	/* 顶部Header */
	--headerBgColor: #ffffff;
	/* 底色 */
	--baseBgColor: #f0f2f5;
	/* 菜单Menu */
	--siderBgColor: #3b3e47;
	--siderFontColor: #b2b8be;
	--siderItemHeight: 45px;
	--siderHoverColor: var(--primary);
	--siderHoverBgColor: rgba(0, 0, 0, 0.2);
	--siderActiveColor: white;
	--siderActiveBgColor: var(--primary);
}
